<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>NetworkServiceImpl</servlet-name>
		<servlet-class>alma.logoot.network.NetworkServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NetworkServiceImpl</servlet-name>
		<url-pattern>/r5a/logoot</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GetData</servlet-name>
		<servlet-class>alma.logoot.network.GetData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetData</servlet-name>
		<url-pattern>/r5a/GetData</url-pattern>
	</servlet-mapping>

	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>R5A.html</welcome-file>
	</welcome-file-list>
</web-app>
