/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

table.log {
  border: medium solid #6495ed;
  border-collapse: collapse;
  width: 100%;
}
table.log th {
  font-family: monospace;
  border: thin solid #6495ed;
  padding: 5px;
  background-color: #D0E3FA;
  background-image: url(sky.jpg);
}
table.log td {
  font-family: sans-serif;
  border: thin solid #6495ed;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;
}

textarea {
  width: 300px;
  height: 300px;
}

.error {
  border: 3px solid #FF0000 !important;
}